# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Custom added
.DS_Store
SPHY/trainings/202405-Bhutan/data/clone.map
SPHY/trainings/202405-Bhutan/data/dem.map
SPHY/trainings/202405-Bhutan/data/DEM/as_con_3s_subset.tif
SPHY/trainings/202405-Bhutan/data/FORCING/MSWX-Past_daily_subset_2002.nc
SPHY/trainings/202405-Bhutan/data/FORCING/MSWX-Past_daily_subset_2003.nc
SPHY/trainings/202405-Bhutan/data/FORCING/MSWX-Past_daily_subset_2004.nc
SPHY/trainings/202405-Bhutan/data/GLACIER/Clean Ice and Debris covered glaciers of HKH Region/Data Download Agreement.pdf
SPHY/trainings/202405-Bhutan/data/GLACIER/Clean Ice and Debris covered glaciers of HKH Region/metadata/CIDC_HKH.pdf
SPHY/trainings/202405-Bhutan/data/GLACIER/Clean Ice and Debris covered glaciers of HKH Region/metadata/CIDC_HKH.xml
SPHY/trainings/202405-Bhutan/data/GLACIER/Clean Ice and Debris covered glaciers of HKH Region/metadata/Thumbs.db
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.CPG
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.dbf
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.prj
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.sbn
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.sbx
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.shp
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.shp.xml
SPHY/trainings/202405-Bhutan/data/GLACIER/HKH_CIDC_5basins_all.shx
SPHY/trainings/202405-Bhutan/data/kc.tbl
SPHY/trainings/202405-Bhutan/data/LAND/MCD12Q1.A2001001.tif
SPHY/trainings/202405-Bhutan/data/SHAPE/btn_admbnda_adm1_bnlc_20201026.dbf
SPHY/trainings/202405-Bhutan/data/SHAPE/btn_admbnda_adm1_bnlc_20201026.shp
SPHY/trainings/202405-Bhutan/data/SHAPE/btn_admbnda_adm1_bnlc_20201026.shx
SPHY/trainings/202405-Bhutan/data/SOIL/hwsd2_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/HWSD2to1.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/Ksat_M_250m_SUBSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/Ksat_M_250m_TOPSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/root_field.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/root_pwlt.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/root_satk.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/root_satwc.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/root_wlt.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/sub_field.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/sub_satk.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/sub_satwc.tbl
SPHY/trainings/202405-Bhutan/data/SOIL/WCpF2_M_250m_SUBSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/WCpF2_M_250m_TOPSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/WCpF3_M_250m_TOPSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/WCpF4.2_M_250m_TOPSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/WCsat_M_250m_SUBSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/SOIL/WCsat_M_250m_TOPSOIL_subset.tif
SPHY/trainings/202405-Bhutan/data/tavg0000.001
SPHY/trainings/202405-Bhutan/data/tavg0000.002
SPHY/trainings/202405-Bhutan/data/tavg0000.003
SPHY/trainings/202405-Bhutan/input/clone.map
SPHY/trainings/202405-Bhutan/input/dem.map
SPHY/trainings/202405-Bhutan/scripts/build_glacier_inputs.ipynb
data-retrival/dem/EarthDEM/earthdem_2m_archive.csv
data-retrival/dem/EarthDEM/earthdem_2m_archive_dudkoshi.csv
data-retrival/dem/EarthDEM/earthdem_2m_archive_test.csv
data-retrival/dem/EarthDEM/retrieve_EarthDEM.sh
model-sphy/bhutan-ex/input/catchment.map
model-sphy/bhutan-ex/input/clone.map
model-sphy/bhutan-ex/input/clone.map.aux.xml
model-sphy/bhutan-ex/input/dem.map
model-sphy/bhutan-ex/input/dem.map.aux.xml
model-sphy/bhutan-ex/preprocess/build_glacier_inputs.ipynb
model-sphy/bhutan-ex/preprocess/config-GlabTop2.cfg
model-sphy/bhutan-ex/preprocess/pcr_tool.py
model-sphy/preprocess/0_Operation.ipynb
model-sphy/preprocess/1_Workflow.ipynb
model-sphy/preprocess/forcing.py
model-sphy/preprocess/pcr_tool.py
model-sphy/preprocess/plugin_upload.py
model-sphy/preprocess/resources_rc.py
model-sphy/preprocess/spatial_processing.py
model-sphy/preprocess/spatial_processing3.py
model-sphy/preprocess/SPHY_preprocess.py
model-sphy/preprocess/SPHY_preprocess3.py
model-sphy/preprocess/SPHY_preprocess_dialog.py
model-sphy/preprocess/SPHY_preprocess_dialog_base.py
model-sphy/preprocess/worker.py
model-sphy/preprocess/worker3.py
model-sphy/run.sh
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
data-analysis/Lehner-BhutanClim/HEROES/Weather station data at Damthang School (Haa)_/metadata/metadata_1972724.xml
data-analysis/Lehner-BhutanClim/HEROES/Weather station data at Damthang School (Haa)_/metadata/metadata_1972724.pdf
data-analysis/Lehner-BhutanClim/HEROES/Weather station data at Damthang School (Haa)_/data/Damthang_data_monthly.csv
data-analysis/Lehner-BhutanClim/HEROES/Weather station data at Damthang School (Haa)_/data/Damthang_data_daily.csv
data-analysis/Lehner-BhutanClim/HEROES/Weather station data at Damthang School (Haa)_/Data Download Agreement.pdf
data-analysis/Lehner-BhutanClim/HEROES/Weather station data at Damthang School (Haa)_/Data Description.pdf
model-sphy/sphy_config_bhutan_demo.cfg
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
SPHY/trainings/202405-Bhutan/data/BIN/aspect_bhutan.tif
SPHY/trainings/202405-Bhutan/data/BIN/aspect_bins_bhutan.tif
SPHY/trainings/202405-Bhutan/data/BIN/dem_bhutan.tif
SPHY/trainings/202405-Bhutan/data/BIN/elevation_bins_bhutan.tif
SPHY/trainings/202405-Bhutan/data/BIN/luse-icimod-2021_bins_bhutan.tif
SPHY/trainings/202405-Bhutan/data/LAND/hkh_lc-2021.tif
SPHY/trainings/202405-Bhutan/input/dem.map.aux.xml
SPHY/trainings/202405-Bhutan/input/GlacID.map
SPHY/trainings/202405-Bhutan/input/GlacID.tif
SPHY/trainings/202405-Bhutan/input/luse.map
SPHY/trainings/202405-Bhutan/input/luse.map.aux.xml
SPHY/trainings/202405-Bhutan/input/luse_imod_2021.map
SPHY/trainings/202405-Bhutan/input/luse_imod_2021.map.aux.xml
SPHY/trainings/202405-Bhutan/input/ModelID.map
SPHY/trainings/202405-Bhutan/input/ModelID.map.aux.xml
SPHY/trainings/202405-Bhutan/input/ModelID.tif
SPHY/trainings/202405-Bhutan/input/root_depth.map
SPHY/trainings/202405-Bhutan/input/root_field.map
SPHY/trainings/202405-Bhutan/input/root_field_HHS.map
SPHY/trainings/202405-Bhutan/input/root_pwlt.map
SPHY/trainings/202405-Bhutan/input/root_pwlt_HHS.map
SPHY/trainings/202405-Bhutan/input/root_satk.map
SPHY/trainings/202405-Bhutan/input/root_satk_HHS.map
SPHY/trainings/202405-Bhutan/input/root_satwc.map
SPHY/trainings/202405-Bhutan/input/root_satwc_HHS.map
SPHY/trainings/202405-Bhutan/input/root_wlt.map
SPHY/trainings/202405-Bhutan/input/root_wlt_HHS.map
SPHY/trainings/202405-Bhutan/input/soil.map
SPHY/trainings/202405-Bhutan/input/soilref.map
SPHY/trainings/202405-Bhutan/input/sub_depth.map
SPHY/trainings/202405-Bhutan/input/sub_field.map
SPHY/trainings/202405-Bhutan/input/sub_field_HHS.map
SPHY/trainings/202405-Bhutan/input/sub_satk.map
SPHY/trainings/202405-Bhutan/input/sub_satk_HHS.map
SPHY/trainings/202405-Bhutan/input/sub_satwc.map
SPHY/trainings/202405-Bhutan/input/sub_satwc_HHS.map
SPHY/trainings/202405-Bhutan/input/TLapse_Bhutan.csv
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
data-analysis/Lehner-BhutanClim/shapefiles/btn_admbnda_adm0_bnlc_20201026.dbf
SPHY/trainings/202405-Bhutan/runs/HYDRO-Hacchu-2002-2004-23.csv
SPHY/trainings/202405-Bhutan/runs/HYDRO-ChimakotiDam-2002-2004-15.csv
